@model ApplicazionePizzeria2._0.Models.Ordine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.indirizzoSpedizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indirizzoSpedizione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteAggiuntive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteAggiuntive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOrdine">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
