@model IEnumerable<ApplicazionePizzeria2._0.Models.Ordine>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-12">
			<h1>Index</h1>

			<p>
				<a asp-action="Create">Create New</a>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.IdOrdine)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.indirizzoSpedizione)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.NoteAggiuntive)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.DataDellaConsegna)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Utente)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.IdOrdine)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.indirizzoSpedizione)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NoteAggiuntive)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DataDellaConsegna)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Utente.Nome)
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.IdOrdine">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.IdOrdine">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.IdOrdine">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>



			<div class="col-3">

				<div class="gap-2">
					<input id="idinputDate" type="date" class="form-control"/>
					<button class="btn btn-primary mb-3" id="btnTotaleIncassatoInData">Totale Incassato In Data: </button>
				</div>
				
				
				<div class="col-12">
					<p id="outputElement"></p>
				</div>

				<button class="btn btn-primary" id="btnOrdiniEvasi">Totale Ordini Evasi</button>
			</div>

			
        </div>
    </div>
</div>





@section Scripts {
    <script src="./js/IncassoTotaleInDataSpecifica.js">
    </script>
}