@model List<RiepilogoOrdine>;

@{
	ViewBag.Title = "RiepilogoOrdine";
}



<div class="container">
	<div class="row">
		<div class="col-12">
			<div>
				<h2 class="my-2">Riepilogo dei tuoi Ordini</h2>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
	
		<div class="my-3">
			<div class="col-11">
				@foreach (var item in Model)
				{
					<div class="myCustomBorder p-3 d-flex m-2 flex-wrap bg-light">

						<div class="col-6">
							<div class=" d-flex flex-column">
								<h4>Note Aggiuntive: @(item.Ordine.NoteAggiuntive != null ? item.Ordine.NoteAggiuntive : "non Specificate")</h4>
								<h4> Indirizzo Spedizione: @item.Ordine.indirizzoSpedizione</h4>
								<h4> Data della consegna: @item.Ordine.DataDellaConsegna</h4>
							</div>
						</div>

						@foreach (var frescoBuffo in item.ListaDettagliOrdine)
						{
							<div class="col-6 m-3">

								@{
									<div class="d-flex flex-column">
										<h4>@(frescoBuffo.Prezzo != 0 ? $"Prezzo Unitario: {frescoBuffo.Prezzo}" : "non disponibile")</h4>
										<h2>@(frescoBuffo.Prodotto != null ? $" ProdottoSelezionato: {frescoBuffo.Prodotto.NomeProdotto}" : "non disponibile")</h2>
										<p>@(frescoBuffo.Quantita != 0 ? $" Quantità acquistata: {frescoBuffo.Quantita} unità" : "non disponibile")</p>
										<p>@(frescoBuffo.CostoTotale != null ? $" Prezzo Totale: {frescoBuffo.CostoTotale} euro" : "non disponibile")</p>
									</div>
								}
							</div>
						}
					</div>
				}
			</div>
		</div>
	</div>
</div>


