@model IEnumerable<ApplicazionePizzeria2._0.Models.DettagliOrdine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ordine.IdOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdineEvaso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrdine)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdineEvaso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodotto.NomeProdotto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordine.indirizzoSpedizione)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostoTotale)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDettagliOrdine"  asp-route-costoTotale="@item.CostoTotale" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDettagliOrdine">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDettagliOrdine">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
