@model ApplicazionePizzeria2._0.Models.Prodotto

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row">
		<div class="col-12">
			<h1>Details</h1>

			<div>
				<h4>Prodotto</h4>
				<hr />
				<dl class="row">
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.NomeProdotto)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.NomeProdotto)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.FotoProdotto)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.FotoProdotto)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.PrezzoProdotto)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.PrezzoProdotto)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.TempoConsegna)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.TempoConsegna)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Ingredienti)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Ingredienti)
					</dd>
				</dl>
			</div>
			<div>
				<a asp-action="Edit" asp-route-id="@Model?.IdProdotto">Edit</a> |
				<a asp-action="Index">Back to List</a>
			</div>
        </div>
    </div>
</div>




