@model IEnumerable<ApplicazionePizzeria2._0.Models.Prodotto>

@{
    ViewData["Title"] = "Index";
}




<div class="container">
	<div class="row justify-content-center">


		@{
			if (User.IsInRole("admin"))
			{
				<p>
					<a asp-action="Create">Create New</a>
				</p>
			}

		}


			<h1 class="text-light"> Lista Dei prodotti  </h1>

			@foreach (var item in Model)
			{
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card m-2 rounded hoverEffect">
						<img style="max-height:220px; object-fit:cover" src="./imgs/@item.FotoProdotto" alt="@item.NomeProdotto">
						<div class="card-body">
							<h5 class="card-title">@item.NomeProdotto</h5>
							<p class="display-6">@item.PrezzoProdotto Euro</p>
							<p class="card-text">@item.Ingredienti </p>
							<p class="card-text">Tempo Stimato consegna: @item.TempoConsegna minuti </p>
							<div class="d-flex flex-column">


								@{
									if (User.IsInRole("admin"))
									{
										<a asp-action="Details" asp-controller="Prodotto" asp-route-id="@item.IdProdotto"> Dettagli</a>
										<a asp-action="Edit" asp-controller="Prodotto" asp-route-id="@item.IdProdotto"> Modifica</a>
										<a asp-action="Delete" asp-controller="Prodotto" asp-route-id="@item.IdProdotto"> Cancella</a>
									}
									else
									{
										<a asp-action="AggiungiAlCarrello" asp-controller="Carrello" asp-route-id="@item.IdProdotto" class="btn btn-primary"> Aggiungi Prodotto al carrello  </a>
									}
								}

							</div>

						</div>
					</div>
				</div>
			}
	</div>
</div>
